<section style="padding: 150px;margin: 20px; background: #fefefe; border-radius: 10px; position: absolute; margin-left: 35%">
    <form action="/add" method="POST" style=" position: relative">
    <h3>Titulo: </h3>
    <input type="text" name="titulo">
    <h3>Conteúdo: </h3>
    <textarea name="conteudo" id="" cols="30" rows="10"></textarea><br>
    <button style="padding: 10px; border-radius: 4px; background: #300222; border: none; color: #ffff; margin-left: 50px"  type="submit">Cadastrar Postagem</button>
</form></section>